body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "EB Garamond";
    background-color: #fbf1c7;
    color: #282828;
}
.container {
    text-align: center;
    background: #f2e5bc;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(242, 229, 188, 0.2);
}
h1 {
    color: #282828;
    font-size: 24px;
    margin-bottom: 10px;
}
p {
    color: #282828;
    font-size: 16px;
}
