body {
    font-family: "EB Garamond";
    height: 100%;
    margin: 0;
    display: grid;
    /* place-items: center; /* Центрирование по обоим осям */ */
    align-items: center;      /* Вертикальное центрирование */
}

.container {
    position: absolute;
    top: 50%;     /* Сместить вверх на половину высоты контейнера */
    left: 50%;    /* Сместить влево на половину ширины контейнера */
    transform: translate(-50%, -50%); /* Откорректировать смещение для точного центра */
    width: 300px; /* Ширина контейнера (примерная) */
    /* height: 100px; /* Высота контейнера (примерная) */ */
    align-items: center;      /* Вертикальное центрирование */
}

input {
    width: 300px;
    float: center; /* Прижимаем элемент к правому краю */
}

button {
    width: 300px;
    float: center; /* Прижимаем элемент к правому краю */
}

